<%# form_with model: @lead, url: leads_path, method: :post, locals: true do |f| %>
    <section class="alternate" id="contact">

    <div class="container">
      <div class="row">
        <!-- FORM -->
        <div class="col-md-9">
          <h3>
            Drop us a line or just say <strong><em>Hello!</em></strong>
          </h3>
  
          <!--
      MESSAGES
      
        How it works?
        The form data is posted to php/contact.php where the fields are verified!
        php.contact.php will redirect back here and will add a hash to the end of the URL:
          #alert_success 		= email sent
          #alert_failed		= email not sent - internal server error (404 error or SMTP problem)
          #alert_mandatory	= email not sent - required fields empty
          Hashes are handled by assets/js/contact.js
  
        Form data: required to be an array. Example:
          contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
          Also, add `required` to input fields if is a mandatory field. 
          Example: <input required type="email" value="" class="form-control" name="contact[email][required]">
  
        PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
                ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP
  
        WARNING! Do not change the `email` and `name`!
              contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
              contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
    -->
  
  
  
    <!-- Alert Success -->
    <div id="alert_success" class="alert alert-success mb-30">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        &times;
      </button>
      <strong>Thank You!</strong> Your message successfully sent!
    </div>
    <!-- /Alert Success -->

    <!-- Alert Failed -->
    <div id="alert_failed" class="alert alert-danger mb-30">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        &times;
      </button>
      <strong>[SMTP] Error!</strong> Internal server error!
    </div>
    <!-- /Alert Failed -->

    <!-- Alert Mandatory -->
    <div id="alert_mandatory" class="alert alert-danger mb-30">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        &times;
      </button>
      <strong>Sorry!</strong> You need to complete all mandatory (*)
      fields!
    </div>
    <!-- /Alert Mandatory -->
    <%= javascript_include_tag('interventions.js') %>
    <%= form_for Intervention.new do |f| %>

    <div data-controller="customer">
    <div class="row">
        <select id="#customerID">
        <% @customers.each do |c| %>
          <option value="<%=c.id%>"><%=c.id%> : <%=c.Company_Name%></option>
        <% end %>
        </select>
    </div>
    <div class="row">
        <div class="col-md-4">
            <%= f.label :buildingID, "Building" %>
            <%=f.select :buildingID, Building.all.collect {|c| [c.Full_Name_of_the_building_administrator, c.id, ]}, {prompt: '--Select a building--'}, {class: 'form-select', id: "buildingID", required: true} %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <%= f.label :batteryID, "Battery" %>
            <%=f.select :batteryID, Battery.all.collect {|c| [c.id, c.id, ]}, {prompt: '--Select a battery--'}, {class: 'form-select', id:"batteryID"} %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <%= f.label :columnID, "Column" %>
            <%=f.select :columnID, Column.all.collect {|c| [c.id, c.id, ]}, {prompt: '--Select a column--'}, {class: 'form-select', id:"columnID"} %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <%= f.label :elevatorID, "Elevator" %>
            <%=f.select :elevatorID, Elevator.all.collect {|c| [c.Serial_number, c.id, ]}, {prompt: '--Select an elevator--'}, {class: 'form-select', id:"elevatorID"} %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <%= f.label :employeeID, "Employee" %>
            <%=f.select :employeeID, Employee.all.collect {|c| [c.first_name, c.id, ]}, {prompt: '--Select an employee--'}, {class: 'form-select', id:"employeeID", required: true} %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <%= f.label :result, "Result" %>
            <%=f.text_field :result, {class: 'form-text_field', id:"result"} %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <%= f.label :report, "Report" %>
            <%=f.text_field :report, {class: 'form-text_field', id:"report"} %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <%= f.label :status, "Status" %>
            <%=f.select :status, ["InProgress", "Completed"], {prompt: '--Status Pending--'}, {class: 'form-select', id:"status", required: true} %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <%= f.submit "SEND FORM" %>    
        </div>
    </div>



</div>
</div>
<% end %>


<% if flash[:error].present? %>
  <p class='flash-error'><%= flash[:error] %></p>
<% end %>
<% if flash[:notice].present? %>
  <p class='flash-notice'><%= flash[:notice] %></p>
<% end %>
    
    <!-- /INFO -->
  </div>
</div>

</section>


<script>
$("#customerID").change(function() {
    var customerID = $(this).val();
    // alert(customerID)
    // if (id_value_string == "") {
    //  $("#buildingID").remove();
    //  var row = "<option value=\"" + "" + "\">" + "Building" + "</option>";
    //  $(row).appendTo("#buildingID");
    // } else {
    //  // Send the request and update course dropdown
    $.ajax({
        method: "GET",
        dataType: "json",
        data: {Customer_ID: customerID},
        cache: false,
        url: '/get_buildings_by_customer/' + id_value_string,
        error: function(XMLHttpRequest, errorTextStatus, error) {
            alert("Failed to submit : " + errorTextStatus + " ;" + error);
        },
        success: function(data){
            //clear
            alert("success")
            // $("#buildingID option").remove()
            // var row = "<option value=\"" + "" + "\">" + "Building" + "</option>";
            // $(row).appendTo("#buildingID");
            // $.each(data, function(i, j) {
            //     row = "<option value=\"" + j.id + j.Adress_of_the_building +"\">" + "</option>";
            //     $(row).appendTo("#buildingID");
            // });
        }
    })
})
</script>

