<!DOCTYPE html>
<html>
  <head>
    <title>Rocket Elevators Information System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <title>RocketElevatorsInformationSystem</title>
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
    </head>
  
   

  <body>

     <%= render 'shared/header' unless @disable_nav %>
  
    <%= yield %>
    <%= render 'shared/footer' unless @disable_nav %>
  </body>
  
  
</html>
